<h3 class="a11y">页面工具</h3>
<div class="tools">
    <ul>
        <li><a ui-sref="tap.testcase.detail"  class="action create" accesskey="e" rel="nofollow" title="Create"><span>Create a new test case</span></a></li>
        <li><a href="http://127.0.0.1/wiki/doku.php/%E8%BD%AF%E4%BB%B6%E5%BC%80%E5%8F%91/java/%E5%BC%80%E5%A7%8B?do=revisions"  class="action revs" accesskey="o" rel="nofollow" title="修订记录 [O]"><span>修订记录</span></a></li>
        <li><a href="http://127.0.0.1/wiki/doku.php/%E8%BD%AF%E4%BB%B6%E5%BC%80%E5%8F%91/java/%E5%BC%80%E5%A7%8B?do=backlink"  class="action backlink" rel="nofollow" title="反向链接"><span>反向链接</span></a></li>
        <li class="plugin_move_page"><a href=""><span>页面重命名</span></a></li><li><a href="#dokuwiki__top"  class="action top" accesskey="t" rel="nofollow" title="回到顶部 [T]"><span>回到顶部</span></a></li>                    </ul>
</div>