<div class="content" ng-controller="sidebarController">
    <div class="group">
        <p>
            <strong>Test Case</strong>
        </p>
        <ul>
            <li class="level1"><div class="li"> <a ui-sref="tap.testcase.list" class="wikilink1" title="features">List All</a></div>
            </li>
            <li class="level1"><div class="li"> <a ui-sref="tap.testcase.detail" class="wikilink1" title="features">Create New</a></div>
            </li>
            <li class="level1"><div class="li"> <a ui-sref="tap.home" class="wikilink1" title="install">Installation guide</a></div>
            </li>
            <li class="level1"><div class="li"> <a href="https://www.dokuwiki.org/manual" class="wikilink1" title="manual">User manual</a> &amp; <a href="https://www.dokuwiki.org/wiki:syntax" class="wikilink1" title="wiki:syntax">syntax</a></div>
            </li>
            <li class="level1"><div class="li"> <a href="https://www.dokuwiki.org/changes" class="wikilink1" title="changes">Release notes</a></div>
            </li>
            <li class="level1"><div class="li"> <a href="https://www.dokuwiki.org/faq" class="wikilink1" title="faq">FAQ</a></div>
            </li>
        </ul>

        <p>
            <strong>Execution</strong>
        </p>
        <ul>
            <li class="level1"><div class="li"> <a href="https://www.dokuwiki.org/extensions" class="wikilink1" title="extensions">Extensions</a></div>
            </li>
            <li class="level1"><div class="li"> <a href="https://www.dokuwiki.org/development" class="wikilink1" title="development">Development manual</a></div>
            </li>
        </ul>

        <p>
            <strong>About Tap Portal</strong>
        </p>
        <ul>
            <li class="level1"><div class="li"> <a href="https://www.dokuwiki.org/faq:support" class="wikilink1" title="faq:support">Get support</a></div>
            </li>
            <li class="level1"><div class="li"> <a href="https://www.dokuwiki.org/donate" class="wikilink1" title="donate">Donations</a></div>
            </li>
        </ul>
    </div>
</div>
