<div class="pageId"><span>All Test Cases</span></div>
<div class="page group">
    <div id="execution-context" ng-controller="executionContextListController">
        <button id='submit' class='tiny pull-right' ui-sref="tap.execution.context.detail">+ Create New</button>
        <table ng-table="executionContextTable" show-filter="true" class="table table-striped">
            <tr ng-repeat="executionContext in $data">
                <td class="col-md-1" data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'"> <a ui-sref="tap.execution.context.detail({name:executionContext.name})" target="_blank">{{executionContext.name}}</a></td>
                <td class="col-md-1" data-title="'Remark'" filter="{ 'remark': 'text' }" sortable="'status'">{{executionContext.remark}}</td>
                <td class="col-md-1" data-title="'Last Modified'" filter="{ 'lastModified': 'text' }" sortable="'status'">{{executionContext.lastModified}}</td>
            </tr>
        </table>
    </div>
</div>