<div class="pageId"><span>All Test Cases</span></div>
<div class="page group">
    <div id="testcases" ng-controller="testCaseListController">
        <table ng-table="testCaseTable" show-filter="true" class="table table-striped">
            <tr ng-repeat="testCase in $data">
                <td class="col-md-1" data-title="'Path'" filter="{ 'path': 'text' }" sortable="'path'"> {{testCase.path}} </td>
                <td class="col-md-1" data-title="'UID'" filter="{ 'uid': 'text' }" sortable="'uid'"> {{testCase.uid}} </td>
                <td class="col-md-1" data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'"> <a ui-sref="tap.testcase.detail({uid:testCase.uid})" target="_blank">{{testCase.name}}</a></td>
                <td class="col-md-1" data-title="'Status'" filter="{ 'status': 'text' }" sortable="'status'">{{testCase.status}}</td>
            </tr>
        </table>
    </div>
</div>