<div class="pageId"><span>All Test Cases</span></div>
<div class="page group">
    <div id="testcases" ng-controller="testCaseListController">
        <table ng-table="testCaseTable" show-filter="true" class="table table-striped">
            <tr ng-repeat="testCase in $data">
                <td class="col-md-1" data-title="'Path'" filter="{ 'path': 'text' }" sortable="'path'"> {{testCase.path}} </td>
                <td class="col-md-1" data-title="'UID'" filter="{ 'uid': 'text' }" sortable="'uid'"> {{testCase.uid}} </td>
                <td class="col-md-1" data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'"> <a ui-sref="tap.testcase.detail({uid:testCase.uid})" target="_blank">{{testCase.name}}</a></td>
                <td class="col-md-1" data-title="'Status'" filter="{ 'status': 'text' }" sortable="'status'">{{testCase.status}}</td>
            </tr>
        </table>
    </div>
</div>

<hr class="a11y" />

<!-- page tools -->
<div id="dokuwiki__pagetools">
    <h3 class="a11y">页面工具</h3>
    <div class="tools">
        <ul>
            <li><a ui-sref="tap.testcase.detail"  class="action create" accesskey="e" rel="nofollow" title="Create"><span>Create a new test case</span></a></li>
            <li><a href="http://127.0.0.1/wiki/doku.php/%E8%BD%AF%E4%BB%B6%E5%BC%80%E5%8F%91/java/%E5%BC%80%E5%A7%8B?do=revisions"  class="action revs" accesskey="o" rel="nofollow" title="修订记录 [O]"><span>修订记录</span></a></li>
            <li><a href="http://127.0.0.1/wiki/doku.php/%E8%BD%AF%E4%BB%B6%E5%BC%80%E5%8F%91/java/%E5%BC%80%E5%A7%8B?do=backlink"  class="action backlink" rel="nofollow" title="反向链接"><span>反向链接</span></a></li>
            <li class="plugin_move_page"><a href=""><span>页面重命名</span></a></li><li><a href="#dokuwiki__top"  class="action top" accesskey="t" rel="nofollow" title="回到顶部 [T]"><span>回到顶部</span></a></li>                    </ul>
    </div>
</div>
<!-- / page tools -->